H2 Board of Directors

p
  a(href='/admin/board_of_directors_form') New Board Member

table.table-striped(style="width: 600px;")
  thead
    tr
      th Title
      th Name
      th Email
  tbody
  each item in members
    tr
      td= item.title
      td= item.fullName
      td
        a(href="mailto:#{item.email}")= item.email
      td
        a(href='/admin/board_of_directors_edit/' + item._id) Edit
  