H2 Board of Directors

p
  a(href='/admin/board_of_directors_form') New Board Member

table.table.table-striped(style="width: 800px;")
  thead
    tr
      th Title
      th Name
      th Email
      th Order
  tbody
  each item in members
    tr
      td= item.title
      td= item.fullName
      td
        a(href="mailto:#{item.email}")= item.email
      td= item.order
      td
        a(href='/admin/board_of_directors_edit/' + item._id) Edit

script
  $('ul.nav li').removeClass('active');
  $('ul.nav #aboutus-menu').addClass('active');