h2 New Board Position

form(action="/admin/board_of_directors_form", method="post")
  p
    label
      | Title
      input(type="text", name="title")

  p
    label
      | First Name
      input(type="text", name="firstName")
      
  p
    label
      | Last Name
      input(type="text", name="lastName")
      
  p
    label
      | Email
      input(type="email", name="email")
  
  p
    label
      | Order
      input(type="text", name="order", size="3")
      
  p
    input(type="submit", name="save", value="Save")
    
script
  $('ul.nav li').removeClass('active');
  $('ul.nav #aboutus-menu').addClass('active');