!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    div.container
      div.hero-unit
        div.row
          div.span3
            img(src='/images/logo.png')
          div.span7
            h2 Kuna Youth Softball & Baseball Association
            p Passing on America's past-time to today's youth
      != body
      footer 
        div.row
          div.span2
            p &copy; 2012 KYSBA
          div.span3.offset5
            div Please Support our 
              a(href='') KYSBA Sponsors
      
