p.span11 KYSBA is an organization made up solely of volunteers from parents and members of our community who enjoy baseball and softball and want to work with the youth of our community.

p.span11 Our goal is to teach and give structure to boys and girls while enjoying one of America's favorite past times "Baseball." We will work with your children to teach them the skills and fundamentals of playing a team sport.

p.span11 We will guide them and teach them the importance of respect, leadership and sportsmanship.

script
  $('ul.nav li').removeClass('active');
  $('ul.nav #aboutus-menu').addClass('active');