h2 Booster Club

p Help support Kuna's youth by becoming a KYSBA Booster Club Member Today!

p The 1st Annual Booster Club Dinner will be help after the seasons ends. Dinner will be provided to all Booster Club members in attendance.

h3(style="margin-top: 40px;") Booster Club Support Levels
table.table.table-striped(style="width: 380px;")
  tr
    td Silver
    td $25.00
  tr
    td Gold
    td $50.00
  tr
    td Platinum
    td $100.00
  tr
    td Diamond
    td $250.00
  tr
    td Lifetime
    td $500.00
    
h3(style="margin-top: 40px;") Booster Club Members
table.table.table-striped(style="width: 900px;")
  tr
    th Silver
    th Gold
    th Platinum
    th Diamond
    th Lifetime
  tr
    td Dealer's Auto Auction of Idaho
    td Hope Family
  tr
    td Dave & Teri Heitzman
    td Jim Collins/Ann Guttu
    
  
      
    