div#calendar
  
script
  $().ready(function() {
    
    $('#calendar').fullCalendar({
        // put your options and callbacks here
    });

  });
  
script
  $('ul.nav li').removeClass('active');
  $('ul.nav #calendar-menu').addClass('active');