h3 Field Locations

script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBo5xWYAr7UC_zjk5YGGieFn-CodkIvJsI&sensor=true")
div.row
  div.span2
    ul.unstyled
      li
        | <a href="#" id="candlestick">Candlestick</a>
      li
        | <a href="#" id="cityfields">City Fields</a>
      li
        | <a href="#" id="fenway">Fenway</a>
      li
        | <a href="#" id="jvfield">JV Field</a>
      li
        | <a href="#" id="kmsbaberuth">KMS Babe Ruth</a>
      li
        | <a href="#" id="kmsmajors">KMS Majors</a>
      li
        | <a href="#" id="softball1">Softball #1</a>
      li
        | <a href="#" id="softball2">Softball #2</a>
      li
        | <a href="#" id="tball1">T-Ball #1</a>
      li
        | <a href="#" id="tball2">T-Ball #2</a>
      li
        | <a href="#" id="tball3">T-Ball #3</a>
      li
        | <a href="#" id="tball4">T-Ball #4</a>
      li
        | <a href="#" id="tball5">T-Ball #5</a>
      li
        | <a href="#" id="wrigley">Wrigley</a>
      
  div.span7.offset1
    div#map_canvas
  
script
  $('ul.nav li').removeClass('active');
  $('ul.nav #aboutus-menu').addClass('active');
  $().ready(function () {
    initialize();
  });