h3 Field Locations

script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBo5xWYAr7UC_zjk5YGGieFn-CodkIvJsI&sensor=true")
div.row
  div.span2
    ul.unstyled
      li
        | <a href="#" id="candlestick">Candlestick</a>
      li
        | <a href="#" id="cityfields">City Fields</a>
        
  div.span7.offset1
    div#map_canvas
  
script
  $('ul.nav li').removeClass('active');
  $('ul.nav #aboutus-menu').addClass('active');
  $().ready(function () {
    initialize();
  });