div.row
  div.span7.offset1
    h4 General Information
    p We'd like to thank Doug Croft and Kuna Dental for the donation of the shed and the time helping putting it together.
    
  div.span4
    div.attention
      h4 Attention
      p.bold The use of alcohol or tobacco is strictly prohibited at our fields. Violators will be asked to leave the area immediately.

div.row
  div.span4.offset1
    h4 Documents
    ul
      li 
        a(href='') Parent Code of Conduct
      li 
        a(href='') KYSBA Manager & Coaches Guidelines
      li 
        a(href='') Equipment Checkout Form
      li 
        a(href='') 2012 Bat Regulations
      li 
        a(href='') KHS Baseball Skills Camp

script
  $('ul.nav li').removeClass('active');
  $('ul.nav #home-menu').addClass('active');