!!! 5
html
  head
    title= "Kuna Youth Softball and Baseball Association - " + title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type="text/javascript", src="/javascripts/bootstrap.js")
    script(type='text/javascript', src='/javascripts/bootstrap-dropdown.js')
    script(type='text/javascript', src='/javascripts/application.js')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='#') KYBSA
          div.nav-collapse
            ul.nav
              li.active(id='home-menu')
                a(href='/') Home
              li.dropdown(id='divisions-menu')
                a.dropdown-toggle(href='#', data-toggle='dropdown', href='#divisions-menu') Divisions
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Softball Pitching Machine
                  li
                    a(href='#') Babe Ruth Softball 1OU
                  li
                    a(href='#') Babe Ruth Softball 12U
                  li
                    a(href='#') Babe Ruth Softball 14U
                  li
                    a(href='#') Babe Ruth Baseball
                  li
                    a(href='#') Cal Ripken Majors
                  li
                    a(href='#') Cal Ripken AAA
                  li
                    a(href='#') Cal Ripken AA
                  li
                    a(href='#') Rookies 6-7 Yrs
                  li
                    a(href='#') TeeBall 4-5 Yrs
              li
                a(href='#') Calendar
              li(id='registration-menu')
                a(href='/registration') Registration
              li.dropdown(id='sponsors-menu')
                a.dropdown-toggle(href='#' data-toggle='dropdown, href='#sponsors-menu') Sponsors
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Sponsors
                  li
                    a(href='#') Booster Club
              li.dropdown(id='aboutus-menu')
                a.dropdown-toggle(href='#', data-toggle='dropdown', href='#aboutus-menu') About Us
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/about') About Us
                  li
                    a(href='/volunteers') Volunteers
                  li
                    a(href='/code_of_conduct') Umpire Abuse Policy
                  li
                    a(href='/board_of_directors') Board of Directors
                  li
                    a(href='/fields') Field Locations
              li(id='lostandfound-menu')
                a(href='/lost_and_found') Lost & Found
    div.container
      div.hero-unit
        div.row
          div.span3
            img(src='/images/logo.png')
          div.span7
            h2 Kuna Youth Softball & Baseball Association
            p Passing on America's past-time to today's youth
            p
              | <div id="fb-root"></div>
              |  <script>(function(d, s, id) {
              |  var js, fjs = d.getElementsByTagName(s)[0];
              |  if (d.getElementById(id)) return;
              |  js = d.createElement(s); js.id = id;
              |  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              |  fjs.parentNode.insertBefore(js, fjs);
              | }(document, 'script', 'facebook-jssdk'));</script>
              | <div class="fb-like" style="margin-top: 35px; margin-left: 280px;float: left;" data-href="http://www.kysba.org/" data-send="false" data-width="350" data-show-faces="false"></div>
      != body
      footer 
        div.row
          div.span2
            p &copy; 2012 KYSBA
          div.span3.offset5
            div Please Support our 
              a(href='') KYSBA Sponsors
      
  script
    $('.dropdown-toggle').dropdown();