div.row(style="margin-top: 100px;")
  div.span2.offset5
      form(action="/login", method="post")
        label
          | Username
          input(type="text", name="username", autofocus="true")
        label
          | Password
          input(type="password", name="password")
        input(type="submit", name="Sumbit")