h2 Sponsors

div.row
  div.span4.offset1
    h3 Corporate Level
      ul
        li
          | <a href="http://pauls.net">Paul's Market</a>

div.row(style="margin-top: 50px;")
  div.span4.offset1      
    h3 Gold Level
      ul
        li
          | <a href="http://www.customfluidpwr.com/">Custom Fluid Power Inc.</a>