div.row
  div.span11.offset1
    h3 Volunteers for Kuna Youth Softball & Baseball Association
    p As you know, Kuna Youth Softball & Baseball Association can not make any season successful without your help. From the board of directors to the parents in the stands, it is a continuous volunteer effort. We thank the parents and families for their time spent volunteering each season. The time we volunteer for our children and community now, will help build character and great memories for our children tomorrow.

div.row
  div.span11.offset1
    h3 WE NEED YOUR HELP!
    p The board is always looking for volunteers to assist in the following areas:
    ul
      li Player registration committee
      li Umpire selections/coordination committee
      li Coach selection committee
      li All-Star, Fall ball & off season activity committee
      li Field improvements/maintenance committee
      li Fundraising committee
      li Sponsorship committee
    p   Thanks to those of you who have already signed up to volunteer on many of these committees. Someone will be contacting you soon to set up a meeting to discuss these volunteer positions. As we all know you can never have too many volunteers so please consider signing up for one or more of these committees.

    p Contact 
      a(href='mailto:treasurer@kysba.org') Maryann Green, KYSBA secretary 
      | via the e-mail link from the 
      a(href='/board_of_directors') Directors page  
      | to volunteer your time:
    p WE THANK YOU FOR YOUR HELP!

    p Kuna Youth Softball & Baseball Association

div.row
  div.span11.offset1
    h3 No Tolerance Policy Regarding Abuse of Umpires
    p The Kuna Youth Softball & Baseball Association has adopted a no tolerance policy regarding abuse of umpires.
    
    h4 SPECTATORS:
    p The umpires should not speak to abusive spectators - the umpire will notify the manager and the policy will be enforced as follows:
    ol
      li The first warning will be given to the offending team's manager.
      li The second warning will be given to the offending team's manager.
      li If a third warning must be issued, the offending team will forfeit the game.
    h4 ON-FIELD PERSONNEL:
    p The above policy does not imply that players, coaches and managers must be warned before ejection from a game. The following offenses may result in immediate ejection from the game:
    ol
      li Profanity or obscene language.
      li Physical or verbal assault on an umpire.
      li Throwing hats or other equipment on the field.
      li Arguing balls and strikes or other judgment calls.
    p The umpire will handle individual situations with on-field personnel, as he feels necessary. He may warn a coach or manager or send him to the bench as alternatives to ejection from the game. These decisions are like all other judgment calls - they cannot be protested and will not be changed. If a player, coach or manager is ejected from the game, he will be required to leave the area immediately.
    h4 MANAGERS AND COACHES:
    p Please keep your players and spectators under control. Be respectful of the umpires - they are human, just like everyone else on the field. If you have a question about a ruling, ask the umpire for time and then discuss the situation. Remember that judgment calls cannot be protested and will not be changed. Remember that our goals are to teach our players sportsmanship and control of their emotions on the field. Teaching by example is the best method to instill these qualities in our players. Please contact any board member if you think that an umpire has made an incorrect ruling or is doing a poor job on the field. We will work with the umpire to improve his performance on the field.

    p Questions? Contact a 
      a(href='/board_of_directors') board member.
script
  $('ul.nav li').removeClass('active');
  $('ul.nav #aboutus-menu').addClass('active');