div.row
  div.span11.offset1
    h3 Volunteers for Kuna Youth Softball & Baseball Association
    p As you know, Kuna Youth Softball & Baseball Association can not make any season successful without your help. From the board of directors to the parents in the stands, it is a continuous volunteer effort. We thank the parents and families for their time spent volunteering each season. The time we volunteer for our children and community now, will help build character and great memories for our children tomorrow.

div.row
  div.span11.offset1
    h3 WE NEED YOUR HELP!
    p The board is always looking for volunteers to assist in the following areas:
    ul
      li Player registration committee
      li Umpire selections/coordination committee
      li Coach selection committee
      li All-Star, Fall ball & off season activity committee
      li Field improvements/maintenance committee
      li Fundraising committee
      li Sponsorship committee
    p   Thanks to those of you who have already signed up to volunteer on many of these committees. Someone will be contacting you soon to set up a meeting to discuss these volunteer positions. As we all know you can never have too many volunteers so please consider signing up for one or more of these committees.

    p Contact 
      a(href='mailto:treasurer@kysba.org') Maryann Green, KYSBA secretary 
      | via the e-mail link from the 
      a(href='/board_of_directors') Directors page  
      | to volunteer your time:
    p WE THANK YOU FOR YOUR HELP!

    p Kuna Youth Softball & Baseball Association


script
  $('ul.nav li').removeClass('active');
  $('ul.nav #aboutus-menu').addClass('active');