div.header {
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.attention {
  border: 2px solid red;
  padding: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#map_canvas {
 width: 700px; 
 height: 420px; 
}